@page "/cinemashow/{id:long}"
@using FilmFlow.Shared.Dto
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FilmFlow.Shared
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@if (Hall != null)
{
    <h3>Choose your seats</h3>
    <p>Seats planned: @seatsPlanned</p>
    <div class="card-body">
    
    @foreach (var row in seats)
    {
            <div class="d-flex flex-row justify-content-center align-items-center">
            @foreach (var seat in row.Value)
            {
                <img src="@GetSeatImage(row.Key, seat.Key)" @onclick="() => ToggleSelected(row.Key, seat.Key)" />
            }
        </div>
    }
    </div>
    <button @onclick="Pay" disabled="@(seatsPlanned == 0)">Pay</button>
}

@code {
    [Parameter]
    public long id { get; set; }

    private CinemaHallDto? Hall;
    private CinemaShowDto? Show;
    private int seatsPlanned;
    private Dictionary<int, Dictionary<int, string>> seats = new Dictionary<int, Dictionary<int, string>>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Show = await Http.GetFromJsonAsync<CinemaShowDto>($"/api/cinemashows/{id}");
            if(Show != null)
            {
                Hall = await Http.GetFromJsonAsync<CinemaHallDto>($"/api/cinemahalls/{Show.CinemaHallId}");
                // if hall not null foreaCH BLABLA
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        int row = 1;
        foreach (CinemaHallRowDto rows in Hall.Rows)
        {
            seats.Add(row, new Dictionary<int, string>());
            for (int i = 0; i < rows.RowChairsTotal; i++)
            {
                int seat = i + 1;
                seats[row].Add(i, "");
            }
            row++;
        }
    }

    private string GetSeatImage(int row, int seat)
    {
        if (seats.TryGetValue(row, out var seatNumbers) && seatNumbers[seat] == "")
        {
            return "img/seat-available.png";
        }
        else if (seatNumbers[seat] == "selected") // is seatNumbers not null and selected
        {
            return "img/seat-selected.png";
        }
        else
        {            
            return "img/seat-not-available.png";
        }
    }    

    private void ToggleSelected(int row, int seat)
    {
        if (seats.TryGetValue(row, out var seatNumbers) && seatNumbers.TryGetValue(seat, out var isSelected))
        {
            if (isSelected == "")
            {
                seats[row][seat] = "selected";                
                seatsPlanned++;
            }
            else if (isSelected == "selected")
            {
                seats[row][seat] = "";
                seatsPlanned--;
            }
            StateHasChanged();
            Console.WriteLine(seatsPlanned);
        }
    }

    private async Task Pay()
    {
        //naar betaalmodule
        if (JSRuntime != null)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Betaald!");
        }
    }
}