@page "/contact"
@inject IJSRuntime JsRuntime
@inherits BaseComponent

<h3>Contact</h3>

<div class="container">
    <div class="row">
        <div class="col-sm">
		    <div class="card m-4 p-0">
                <div id="map" style="height:500px;width:100%;">
                </div>
            </div>
        </div>        
        <div class="col-xl">
            <div class="card m-4 p-0" style="background-color: #ffffff96">
                <h3>@Localizer["Address"]</h3>
                <h4>FilmFlow</h4>
                <h4>Hogeschoollaan 1</h4>
                <h4>4818 CR Breda</h4>
                <h4>088-525 7500</h4>
                <a href="https://www.google.com/maps/dir/?api=1&destination=Avans+Hogeschool,+Hogeschoollaan+1,+4818+CR+Breda" target="_blank" style="text-decoration: none;"> <img src="img/navigate.png" width="50" />@Localizer["NavigateToFilmFlow"]</a>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initializeGoogleMaps", null);
        }
    }
}
