@page "/"
@inherits BaseComponent
@using System.Globalization

<PageTitle>FilmFlow</PageTitle>

<div class="p-5">
    <div style="border-left: 7px solid #050505;">
        <div class="mx-4">
            <h2 class="fw-bold text-uppercase ">FilmFlow</h2>
            <p class="fw-normal">
                @Localizer["IntroText1"]
            </p>
        </div>
    </div>
    <a class="btn btn-danger fw-bold text-uppercase" type="button" href="/movies">
        @Localizer["BrowseMovies"]
    </a>    
</div>

