@page "/reservations/{id:long}/pay"
@using System.Text.RegularExpressions
@using FilmFlow.Shared.Dto
@inherits BaseComponent

<h2 class="text-uppercase fw-bold">Payment Details</h2>

<div class="row my-5">
    <div class="col-md-6">
        <h2>Movie details</h2>
        <p>Title: Titel</p>
    </div>
    <div class="col-md-6">
        <h2>Price</h2>
        <p>Ticket Price: €15,00</p>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-6 mt-5">
        <h2>Credit Card Payment</h2>
        <hr/>

            <div class="form-group">
                <label for="cardNumber">Card Number</label>
                <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="Enter card number">
            </div>
            <div class="form-group">
                <label for="cardName">Name on Card</label>
                <input type="text" class="form-control" id="cardName" name="cardName" placeholder="Enter name on card">
            </div>
            <div class="form-group">
                <label for="expirationDate">Expiration Date</label>
                <input type="text" class="form-control" id="expirationDate" name="expirationDate" placeholder="MM/YY">
            </div>
            <div class="form-group">
                <label for="securityCode">Security Code</label>
                <input type="text" class="form-control" id="securityCode" name="securityCode" placeholder="Enter security code">
            </div>
            <button type="submit" class="btn btn-danger mt-3" onclick="alert('Betaald met credit card')">Pay with Credit Card</button>

    </div>

    <div class="col-md-6 mt-5">
        <h2>iDeal Payment</h2>
        <hr/>
            <div class="form-group">
                <label for="bank">Select Your Bank</label>
                <select class="form-control" id="bank" name="bank">
                    <option>ABN AMRO</option>
                    <option>ING</option>
                    <option>Rabobank</option>
                    <option>SNS Bank</option>
                    <option>Triodos Bank</option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger mt-3" onclick="alert('Betaald met iDeal')">Pay with iDeal</button>
    </div>
</div>

<hr/>

<h2 class="mt-5">Extra Options</h2>

<form>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="popcorn" id="popcorn">
        <label class="form-check-label" for="popcorn">
            Popcorn - €5,00
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="nachos" id="nachos">
        <label class="form-check-label" for="nachos">
            Nacho's - €4.50
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="mms" id="mms">
        <label class="form-check-label" for="mms">
            M&M's - €3.50
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="coke" id="coke">
        <label class="form-check-label" for="coke">
            Coke - €3,00
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="fanta" id="fanta">
        <label class="form-check-label" for="fanta">
            Fanta - €3.00
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="sprite" id="sprite">
        <label class="form-check-label" for="sprite">
            Sprite - €3,00
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="water" id="water">
        <label class="form-check-label" for="water">
            Water - €2.50
        </label>
    </div>
    <button type="submit" class="btn btn-danger my-3">Add to Order</button>
</form>


@code {
    [Parameter]
    public long id { get; set; }

    private ReservationDto? Reservation;
    private List<ReservationSeatDto>? reservedSeats;
    private String MovieTitle = "";
    private String MovieAge = "";
    //private bool popcornSelected = false;
    //private bool nachosSelected = false;
    //private bool mmsSelected = false;
    //private bool cokeSelected = false;
    //private bool fantaSelected = false;
    //private bool spriteSelected = false;
    //private bool waterSelected = false;
    //private decimal snacksPrice = 0;

    protected override async Task OnInitializedAsync()
    {
        Reservation = await AnonymousHttpClient.Client.GetFromJsonAsync<ReservationDto>($"/reservations/{id}");

        if (Reservation != null)
        {
            //var cinemaShow = await AnonymousHttpClient.Client.GetFromJsonAsync<CinemaShowDto>($"/cinemashows/{Reservation.Id}");
            //if(cinemaShow != null)
            //{
            //    var movie = await AnonymousHttpClient.Client.GetFromJsonAsync<MovieDto>($"/movies/{cinemaShow.MovieId}");
            //    MovieTitle = movie.Title;
            //    MovieAge = movie.MinAge.ToString();
            //}

            var reservationSeats = Reservation.ReservedSeats;


        }
    }
}
