@inherits BaseComponent
@using System.Globalization;

<nav class="navbar d-flex navbar-expand sticky-top navbar-dark" style="background: #050505;">
    <div class="container-fluid px-5">
        <a class="navbar-brand text-uppercase fw-bold" href="#">FilmFlow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">
                    @Localizer["Home"] <span class="material-icons" style="font-size: 15px;">
                        home
                    </span>
                </a>
                <a class="nav-link" href="/movies">
                    @Localizer["Movies"] <span class="material-icons" style="font-size: 15px;">
                        movie
                    </span>
                </a>
                <a class="nav-link" href="/reservations">
                    @Localizer["Reservations"] <span class="material-icons" style="font-size: 15px;">
                        confirmation_number
                    </span>
                </a>
                <a class="nav-link" href="/contact">
                    @Localizer["Contact"] <span class="material-icons" style="font-size: 15px;">
                        import_contacts
                    </span>
                </a>
	            <div class="d-flex align-items-center ms-auto">
		            <select class="form-select form-select-sm text-light" aria-label="Language" @bind="SelectedLanguage" style="background-color: #050505;">
			            <option value="en-US">English</option>
			            <option value="nl-NL">Nederlands</option>
		            </select>
	            </div>
                <LoginDisplay></LoginDisplay>
            </div>
        </div>
    </div>
</nav>

