@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inherits BaseComponent

<AuthorizeView>
	<Authorized>
        <a class="nav-link" href="authentication/profile">@Localizer["Hello"] @context.User.Identity?.Name!</a>
		<a class="nav-link btn btn-link" @onclick="BeginLogOut">@Localizer["LogOut"]</a>
	</Authorized>
    <NotAuthorized>
        <!--<a class="nav-link" href="authentication/register">Register</a>-->
        <a class="nav-link" href="authentication/login">@Localizer["LogIn"]</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
