@inherits LayoutComponentBase

<Header></Header>
<main class="flex-shrink-0">
    <div class="page container-fluid">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</main>
<Footer></Footer>
